body{
    margin: 0;
    padding: 0;
}
.left-section {
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px;
  background-color: #787777;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  box-sizing:border-box;
}

.right-section {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  float: right;
  background-color: #787575;
}

.event-summary {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.event-summary:hover {
  background-color: #f7f7f7;
  transition: background-color 0.3s ease-in-out;
}

.event-summary button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.event-summary button:hover {
  background-color: #2980b9;
  transition: background-color 0.3s ease-in-out;
}

.event-summary h2 {
  font-size: 20px;
  font-weight: bold;
}

.event-summary span {
  display: block;
  margin-top: 5px;
  font-size: 16px;
}
