body{
    /* background-image: url(https://images.unsplash.com/photo-1631631480669-535cc43f2327?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) */
   
}

h1{
    color: blue;
    background-color: aqua;
    opacity: 5;
    /* width: 600px;
    height: 500px; */
    background-image:url(https://images.unsplash.com/photo-1631631480669-535cc43f2327?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) ;
    background-repeat: repeat-x;
    background-size: cover;
    /* background-color: #373737; */

}
p{
    background-color: rgb(187, 84, 84);
}
h1:hover,h2:hover,p:hover
{
    background-color: rgb(14, 1, 1);
}